body{
	background-image: url("/images/back.png")
}
.jumbotron{
	padding: 20px 40px;
}

#wraping{
	display: flex; 
	flex-wrap: wrap;
}
.img-responsive{
	width: 100%;
	height: auto;`
}

.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}

.img-thumbnail{
	margin-bottom: 20px
}

.margin-top{
	margin-top: 60px;
}

#delete-form{
	display: inline;
}

#map{
	height: 300px;
	width: 100%;,
}

.img-thumbnail a{
	color: black;
	text-decoration: none;
}

.about-main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.about{
	font-size: 60px;
}
.about-div{
	font-size: 22px;
	border-radius: 25px;
	text-align: justify;
	padding: 20px;
}

.social-media{
	width: 50%;
	padding-bottom: 60px;
	padding-top: 20px;
}

.social-media img{
	display: block;
	margin: auto;
	max-width: 90%;
	max-height: 100%;
}

.hide{
	display: none;
}

.comment{
	padding: 40px;
}

.center{
	display: block;
	margin: auto;
}

.avatar{
	display: block;
	max-width: 80%;
}

.avatar-small{
	max-width: 80%;
	height: auto;
}

.padding{
	padding: 20px 0;
}