.jumbotron{
	padding: 20px 40px;
}

#wraping{
	display: flex; 
	flex-wrap: wrap;
}
.img-responsive{
	width: 100%;
	height: auto;
}

.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}

.img-thumbnail{
	margin-bottom: 20px
}

.margin-top{
	margin-top: 60px;
}

#delete-form{
	display: inline;
}

#map{
	height: 300px;
	width: 100%;,
}

.img-thumbnail a{
	color: black;
	text-decoration: none;
}

.about-main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about{
	font-size: 60px;
}
.about-div{
	font-size: 22px;
	border-radius: 25px;
	text-align: justify;
	padding: 20px;
}

.social-media{
	width: 50%;
	padding-bottom: 60px;
	padding-top: 20px;
}

.social-media img{
	display: block;
	margin: auto;
	max-width: 90%;
	max-height: 100%;
}