<%  include ../partials/header %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3 margin-top">
				<form id="campingForm" action="/campings" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="camping[name]" placeholder="name">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="camping[image]" placeholder="image url">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="camping[description]"></textarea>
					</div>
					<input class="btn btn-lg btn-success"type="submit" value="Submit!">
				</form>
			</div>
		</div>
	</div>
<% include ../partials/footer %>