<%  include partials/header %>
	<div class="about-main">
		<div class="text-center about"><strong>About</strong></div><hr>
			<div class="row">
				<div class="col-md-8 offset-md-2 about-div">
				<p>Hello, my name is Marek Urbanek and this is my first project of simple CRUD application. In this project I followed the REST routing, used MongoDB, and tried to keep code as clean and good as possible. In this application I used:</p>
				<ul>
					<li>Node.js with Express</li>
					<li>MongoDB with Mongoose</li>
					<li>CSS with Bootstrap</li>
					<li>Git Version Control</li>
				</ul>
				<p>I would appreciate every feedback, so please take a look at my GitHub and contact me :)</p>
			</div>
		</div>
		<div id="about-bottom" class="container">
			<div class="row">
				<div class="social-media">
					<a target="_blank" href="https://github.com/orzechon/wildcamp">
						<img src="icons/github.png">
					</a>
				</div>
				<div class="social-media">
					<a target="_blank" href="https://www.facebook.com/marek.urbanek.56">
						<img src="icons/facebook.png">
					</a>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>


					