<%  include ./partials/header %>


<div class="container-fluid no-padding no-margin">

	<div class="row bgimg img-responsive no-padding no-margin">
		<div class="container">
			<div class="col-md-6">
				<div class="welcome">
					<h3 class="no-opacity">Welcome to the Wild Camp!</h3> 
					<h4 class="no-opacity">Here you can share and explore the most beautiful places for wild camping.</h4>
					<hr>
					<h5 class="no-opacity">To add new places please <a class="no-opacity btn btn-primary" href="/register" class="link">Sign Up</a> or if you allready have an account <a class="no-opacity btn btn-success" href="/login" class="link">Login</a></h5>
				</div>
			</div>	
		</div>
	</div>
	
</div>
<% include ./partials/footer %>